.alignment-modal-data {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(108, 108, 137, 0.16);
  padding: 8px 0 0 0;
}

.item-wrapper {
  padding: 12px 0;
  border-top: 1px solid rgba(108, 108, 137, 0.16);
}