.block-button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 14px 22px;
  border-radius: 6px;
  background-color: #1E5DFF;
  font-family: Roboto, sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  text-underline: none;

  &:hover {
    background-color: #4472dc;
  }

  &__size-XS {
    transform: scale(0.70);
    transition: 0.5s;
  }
  &__size-S {
    transform: scale(0.85);
    transition: 0.5s;
  }
  &__size-M {
    transform: scale(1);
    transition: 0.5s;
  }
  &__size-L {
    transform: scale(1.25);
    transition: 0.5s;
  }
  &__size-XL {
    transform: scale(1.4);
    transition: 0.5s;
  }
  &__justify-start {
    margin-left: auto;
  }
  &__justify-center {
    margin: 0 auto;
  }
  &__justify-end {
    margin-right: auto;
  }
  &__align-start {
    align-self: flex-start;
  }
  &__align-center {
    align-self: center;
  }
  &__align-end {
    align-self: flex-end;
  }
}