.infrastructure-input {
  width: calc(100% - 24px);
  height: 48px;
  padding: 0 12px;
  background-color: rgba(108, 108, 137, 0.06);
  border: 1px solid rgba(108, 108, 137, 0.10);
  border-radius: 6px;
}